

        <br>
        <div class="container">
            <a href="/">HOME</a>
            <p>version 7 - copy rights 2020 - AA</p>
            <a href="https://engabdullah.com">Contact us</a>
        </div>
    </body>
</html>